<!DOCTYPE html>

<html>
   <head>
         <meta charset="UTF-8">
         <link rel="stylesheet" href="/static/stylesheets/welcome-template.css">

         <title>Welcome</title>
   </head>
   <body>
     <div class="welcome center">Hi {{.Name}},  you are on pod: {{.Pod}}</div>
   </body>
</html>
